<div>
	<div class="row">
		<h3 class="page-header">
			<i class="fa fa-bell-o" style="width: 20px; height: 20px;"></i>
			<span> Manage Broadcast Messages</span>
		</h3>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<b>Broadcast New Message</b>
		</div>
		<div class="panel-body table-responsive">
			<form name="broadcastMessageForm">
				<div class="row col-lg-12 col-md-12 col-sm-12">
					<div class="form-group col-lg-3 col-md-3 col-sm-3">	
						<label>Title</label><label style="color: red">&nbsp*</label> 
					</div>
					<div class=" form-group col-lg-9 col-md-9 col-sm-9">	
						<input type="text" class="form-control" ng-model="broadcastMessage.title" 
						placeholder="Enter Title" ng-required="true">
					</div>
					
					<div class="form-group col-lg-3 col-md-3 col-sm-3">	
						<label>Message</label><label style="color: red">&nbsp*</label> 
					</div>
					<div class="form-group col-lg-9 col-md-9 col-sm-9">	
						<input type="text" class="form-control" ng-model="broadcastMessage.message" 
						placeholder="Enter Message" ng-required="true">
					</div>
					
					<div class="form-group col-lg-3 col-md-3 col-sm-3">	
						<label>Description</label><label style="color: red">&nbsp*</label>
					</div>
					<div class="form-group col-lg-9 col-md-9 col-sm-9">	
						<textarea rows="4" cols="30" class="form-control" ng-model="broadcastMessage.description"
						placeholder="Enter Description" ng-required="true"></textarea>
					</div>
					 
					<div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">						 						  
						 <button id="btnSubmit" type="button" class="btn btn-primary btn-sm"
						  ng-click="onSubmitBroadcastMessageForm()"
						  ng-disabled="(broadcastMessageForm.$invalid)">Submit</button>
						  &nbsp; &nbsp;
						  <button type="button" class="btn btn-danger btn-sm"
						  ng-click="onResetBroadcastMessageForm()">Reset</button>
						 
					</div>
				</div>
			</form>	
		</div>
	</div>
</div>
